# File di build
target/
*.jar
*.war
*.class

# Impostazioni dell'IDE
.idea/
*.iml

# Ignore keys
/src/main/resources/application.properties
/src/target
/src/test
/src/main/resources/credentials/googleService.json

# Dipendenze scaricate da Maven
.mvn/