<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppMusic</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
        }
    </style>
</head>
<body>
<h1>Benvenuto in AppMusic!</h1>
<p>La tua applicazione Spring Boot funziona su <strong>http://localhost:9999/</strong></p>
<a id="spotifyLoginButton"
   th:href="'https://accounts.spotify.com/authorize?client_id=' + ${client_id} + '&response_type=code&redirect_uri=' + ${request_uri} + '&scope=user-read-playback-state user-modify-playback-state'">
    Accedi con Spotify
</a>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>