<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppMusic</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
        }
    </style>
</head>
<body>
<h1 >Benvenuto in AppMusic, Alberto!</h1>
<p>Wow! Hai fatto Login! Grande!</p>
<p>Il code è <span th:text="${authCode}"></span></p>
<p>Il token è <span th:text="${accessToken}"></span></p>

<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>